.container{
  margin: 5px 0;
  padding: 2px 15px;
}
.search{
  width: max-content;
  display: flex;
  flex-flow: row nowrap;
  
}
.search input{
  padding: 8px 10px;
  margin-right: 5px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid white;
  color:  black;
}
.search input[type="submit"]{
  width: max-content;
  background-color: transparent;
  font-size: 1rem;
  color: white;
  letter-spacing: 1px;
  border: 1px solid white;
  padding: 5px 10px ;
  border-radius: 10px;
  transition: all 0.5s linear;
}
.search input[type="submit"]:hover{
  background-color: white;
  color: rgb(204, 63, 7);
}
.filter{
  width: max-content;
  border-radius: 10px;
  border: 1px solid white;
  font-size: 1rem ;
  padding: 2px 5px;
  background-color: white;
  margin: 5px;
  color: rgb(41, 41, 41);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.close{
  /* display: inline-block; */
  float: right;
  width: 20px;
  height: 20px;
  background-color: black;
  color: white;
  border-radius: 50%;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  
}